/* body{
  font-size: 20px;
  font-family: sans-serif;
  color: #333;
} */
.question{
  font-weight: 600;
  text-transform: uppercase;
}
.answer {
  margin-bottom: 20px;
}
.answer label{
  display: block;
}
#submit{
  font-family: sans-serif;
  font-size: 20px;
  background-color: #279;
  color: #fff;
  border: 0px;
  border-radius: 3px;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}
#submit:hover{
  background-color: #38a;
  color: tomato;
}

.quiz_line{
    margin-left: 200px;
}